<!DOCTYPE html>
html(lang=app.lang)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{ meta.title } | #{ app.name }
    meta(name="description", content=`${meta.description || app.description}`)
    meta(name="keywords", conent=`${meta.keywords || app.keywords}`)
    meta(name="generator" content=`nera - ${process.env.npm_package_version}`)
    meta(name="robots" content=`${meta.robots || app.robots}`)

  body
    block content
