mixin arrow_left_icon(cssClasses='')
    svg.inline-block(class=cssClasses aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512')
        path(fill='currentColor' d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z')

mixin close_icon(cssClasses='')
    svg.inline-block(class=cssClasses, aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512')
        path(fill='currentColor' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z')

mixin copy_icon(cssClasses='')
    svg.inline-block(class=cssClasses aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512')
        path(fill='currentColor' d='M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 00358.059 0H352v96h96v-6.059a24 24 0 00-7.029-16.97z')

mixin edit_icon(cssClasses='')
    svg.inline-block(class=cssClasses aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512')
        path(fill='currentColor' d='M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z')

mixin eye_icon(cssClasses='')
    svg.inline-block(class=cssClasses aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512')
        path(fill='currentColor' d='M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 000 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 000-29.19zM288 400a144 144 0 11144-144 143.93 143.93 0 01-144 144zm0-240a95.31 95.31 0 00-25.31 3.79 47.85 47.85 0 01-66.9 66.9A95.78 95.78 0 10288 160z')

mixin file_plus_icon(cssClasses='')
    svg.inline-block(class=cssClasses aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512')
        path(fill='currentColor' d='M377 105L279.1 7a24 24 0 00-17-7H256v128h128v-6.1a23.92 23.92 0 00-7-16.9zm-153 31V0H24A23.94 23.94 0 000 24v464a23.94 23.94 0 0024 24h336a23.94 23.94 0 0024-24V160H248a24.07 24.07 0 01-24-24zm72 176v16a16 16 0 01-16 16h-64v64a16 16 0 01-16 16h-16a16 16 0 01-16-16v-64h-64a16 16 0 01-16-16v-16a16 16 0 0116-16h64v-64a16 16 0 0116-16h16a16 16 0 0116 16v64h64a16 16 0 0116 16z')

mixin folder_plus_icon(cssClasses='')
    svg.inline-block(class=cssClasses aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
        path(fill='currentColor' d='M464 128H272l-64-64H48a48 48 0 00-48 48v288a48 48 0 0048 48h416a48 48 0 0048-48V176a48 48 0 00-48-48zM359.5 296a16 16 0 01-16 16h-64v64a16 16 0 01-16 16h-16a16 16 0 01-16-16v-64h-64a16 16 0 01-16-16v-16a16 16 0 0116-16h64v-64a16 16 0 0116-16h16a16 16 0 0116 16v64h64a16 16 0 0116 16z')

mixin plus_icon(cssClasses='')
    svg.inline-block(class=cssClasses aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512')
        path(fill='currentColor' d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')

mixin redo_icon(cssClasses='')
    svg.inline-block(class=cssClasses aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
        path(fill='currentColor' d='M500.33 0h-47.41a12 12 0 00-12 12.57l4 82.76A247.42 247.42 0 00256 8C119.34 8 7.9 119.53 8 256.19 8.1 393.07 119.1 504 256 504a247.1 247.1 0 00166.18-63.91 12 12 0 00.48-17.43l-34-34a12 12 0 00-16.38-.55A176 176 0 11402.1 157.8l-101.53-4.87a12 12 0 00-12.57 12v47.41a12 12 0 0012 12h200.33a12 12 0 0012-12V12a12 12 0 00-12-12z')

mixin trash_alt_icon(cssClasses='')
    svg.inline-block(class=cssClasses aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512')
        path(fill='currentColor' d='M32 464a48 48 0 0048 48h288a48 48 0 0048-48V128H32zm272-256a16 16 0 0132 0v224a16 16 0 01-32 0zm-96 0a16 16 0 0132 0v224a16 16 0 01-32 0zm-96 0a16 16 0 0132 0v224a16 16 0 01-32 0zM432 32H312l-9.4-18.7A24 24 0 00281.1 0H166.8a23.72 23.72 0 00-21.4 13.3L136 32H16A16 16 0 000 48v32a16 16 0 0016 16h416a16 16 0 0016-16V48a16 16 0 00-16-16z')
